[submodule "dotbot"]
	path = submodules/dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "oh-my-zsh"]
	path = submodules/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "fzf"]
	path = submodules/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "spaceship-prompt"]
	path = submodules/spaceship-prompt
	url = https://github.com/denysdovhan/spaceship-prompt.git
[submodule "zsh-syntax-highlighting"]
	path = submodules/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "zsh-autosuggestions"]
	path = submodules/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "g"]
	path = submodules/g
	url = https://github.com/stefanmaric/g.git
[submodule "vim-plug"]
	path = submodules/vim-plug
	url = https://github.com/junegunn/vim-plug.git
