window-height = 50
window-width = 150

font-family = Fira Code
font-size = 12
font-thicken = true

copy-on-select = true

# "Panic" theme (https://x.com/panic/status/558389225612005376)
foreground = f7f8f2
background = 182536
selection-foreground = 182536
selection-background = d8d8db

config-file = ?./local_overrides
